*.suo
*.user
_ReSharper.*
bin
obj
packages
bin/*
obj/*
/CakeShopTCC/.vs
/CakeShopTCC/.vs/*
/CakeShopTCC/CakeShopTCC.WebUI/ApplicationInsights.config
/CakeShopTCC/CakeShopTCC.Models/CakeShopTCC.Models.csproj.user
/CakeShopTCC/CakeShopTCC.DataAccess/CakeShopTCC.DataAccess.csproj.user
/CakeShopTCC/CakeShopTCC.WebUI/CakeShopTCC.WebUI.csproj.user
/CakeShopTCC/CakeShopTCC.WebUI/bin
/CakeShopTCC/CakeShopTCC.WebUI/bin/*
/CakeShopTCC/CakeShopTCC.WebUI/bin/Debug
/CakeShopTCC/CakeShopTCC.WebUI/bin/Debug/*.dll
/CakeShopTCC/CakeShopTCC.WebUI/bin/Release
/CakeShopTCC/CakeShopTCC.WebUI/obj
/CakeShopTCC/CakeShopTCC.WebUI/obj/*
/CakeShopTCC/CakeShopTCC.Models/bin
/CakeShopTCC/CakeShopTCC.Models/bin/*
/CakeShopTCC/CakeShopTCC.Models/obj
/CakeShopTCC/CakeShopTCC.Models/obj/*
/CakeShopTCC/CakeShopTCC.DataAccess/bin
/CakeShopTCC/CakeShopTCC.DataAccess/bin/Debug/*.dll
/CakeShopTCC/CakeShopTCC.DataAccess/bin/Debug/*.pdb
/CakeShopTCC/CakeShopTCC.DataAccess/bin/Release/*
/CakeShopTCC/CakeShopTCC.DataAccess/bin/Release/*.dll
/CakeShopTCC/CakeShopTCC.DataAccess/bin/Release/*.pdb
/CakeShopTCC/CakeShopTCC.DataAccess/obj
/CakeShopTCC/CakeShopTCC.DataAccess/obj/*
/CakeShopTCC/CakeShopTCC.WebUI/*.user
/CakeShopTCC/CakeShopTCC.Models/*.user
/CakeShopTCC/CakeShopTCC.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
CakeShopTCC.DataAccess.csproj.user
*.user
.vs
CakeShopTCC.Models.csproj.user
CakeShopTCC/CakeShopTCC.Models/bin/Debug/CakeShopTCC.Models.dll
CakeShopTCC/CakeShopTCC.Models/bin/Debug/CakeShopTCC.Models.dll
*.dll
*.pdb
*.cache
