@using CakeShop.Models
@model List<Produto>
@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div class="container" style="padding-bottom: 20px;">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 text-center">
                <img src="~/Images/Salgados/barquete de rúcula com tomate seco e mussarela de bufala.jpg" />
                <h3>@item.Nome_Produto</h3>
                <h5>@item.Preco</h5>
                @Html.TextBox("txtQuantidade", (int)decimal.Zero, new { type = "number", min = "0", max = "2000" })
                @Html.ActionLink("Adicionar ao carrinho", "CadastroPedido", "Pedido")
            </div>
        }
    </div>
</div>