@using CakeShop.Models
@model Produto


<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <a href="@Url.Action("Produto","PaginaDoces")" class="btn btn-danger">Doces</a>
            <a href="@Url.Action( "Produto","PaginaSalgados")" class="btn btn-danger">Salgados</a>
            <a href="@Url.Action( "Produto","PaginaBolos")" class="btn btn-danger">Bolos</a>
        </div>
    </div>
</div>