@using CakeShop.Models
@model Produto



<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <a href="@Url.Action("PaginaDoces", "Produto")" class="btn btn-danger">Doces</a>
            <a href="@Url.Action("PaginaSalgados", "Produto")" class="btn btn-danger">Salgados</a>
            <a href="@Url.Action("PaginaBolos", "Produto")" class="btn btn-danger">Bolos</a>
        </div>
    </div>
</div>

