@using CakeShop.Models
@model Produto

<div class="row">
    <div class="col-md-12">
        <div class="container bar">
            <h1>Bolos</h1>
        </div>
    </div>
    <div class="col-md-12">
        <form action="@Url.Action("PaginaBolos", "Produto")" class="horizontal">

        </form>
    </div>
</div>