<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding: 0px !important;">
            <img class="img-fluid" src="@Url.Content("~/Imagens/Outras páginas/pagina sobre.jpg")" />
                   @*<img class="img-fluid" src="@Url.Content("~/Images/sobreNos.jpg")" />*@
        </div>
     
    </div>
</div>
<section class="py-5">
    <div class="container text-center">
        <h2 class="meuTexto">SOBRE O CAKESHOP</h2>
        <h3 class="meuTexto">
        Realizar encomendas para a sua festa, aproveitando as delícias de nossos confeiteiros sem sair de casa ou precisar fazer uma ligação, é para isso que o CakeShop foi criado, 
            pensando justamente no conforto e praticidade para o cliente. É um site responsivo de compras de aperitivos para festa, você pode dar uma conferida nos doces, salgados e bolos
             e agendar um horário para degustar essas gostosuras.
        </h3>
    </div>
</section>
<section class="py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h2 class="meuTexto">SEU EVENTO NO CAKESHOP</h2>
                <br />
                <h3 class="meuTexto">
                    Faça da sua formatura, seu aniversário ou o evento corporativo da sua empresa, uma experiência única com toda a qualidade e atenção aos detalhes que só o CakeShop pode oferecer.
                </h3>
            </div>
           
        </div>
    </div>
</section>