@using CakeShop.Models

<div class="row">
    <div class="col-md-12">
        <h1>Sobre o Cake Shop</h1>
        <hr />
    </div>
</div>
<div class="row">
    
    <img src="~/Images/Bolos/cheesecake-1149481_1280.jpg" />
        <div class="col-md-12">
            <p>Falar sobre o Cake Shop...</p>
                    
            
        </div>
    </div>

