@using CakeShopTCC.Controllers
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Código do Pedido</th>
                        <th>Data de pedido</th>
                        <th>Data Entrega</th>
                        <th>Quantidade de item produto</th>
                        <th>Preço total</th>
                        <th>Situação</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>